title = Search Workflow
xlabel = nodes
ylabel = tasks/second

width = 600
height = 400

axis.type.x = logarithmic
axis.type.y = logarithmic

# legend.enabled = false

label.search-1.data = servers=1
label.search-2.data = servers=2
